<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Appointments</title>
  </head>
  <body>
    <div class="">
      <ul>
        <li><a href="{% url 'home' %}">My Profile</a></li>
        <li><a href="{% url 'about_us' %}">About Us</a></li>
        <li><a href="{% url 'appointments_list' %}">Appointments</a></li>
        <li><a href="{% url 'lab_reports' %}">Lab Reports</a></li>
        <li><a href="{% url 'doctor_list' %}">Doctors</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
      </ul>
  </div>
<!-- doc info -->
{% if message %}
{{message}}
{% endif %}
{% for appointment in appointments %}
<div class="">
  <p class="">Appointment number {{appointment.id}}</p>
  <div class="">

<p>{{appointment.date}}</p>
<p>{{appointment.time}}</p>
<p>{{appointment.disease_option}}</p>
</div>

<div class="">
<form action="{% url 'appointment_delete' appointment.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
</div>
{% endfor %}
  </body>
</html>
