{% extends "base_.html" %}
{% load static %}
            {% block content %}

             {% include 'navbar.html' %}

             <section class="section-declare  js--section-declare"></section>
{% if message %}
        <section>
          

                     <div class="row tags">

                           
                           <div class="col row box plan-box feedback0">
                            <h3><strong>Warning:</strong></h3>
                            <div class="admin">
<p class="">{{message}}</p>
<a class="" href="/admin/">Admin</a>
   </div>
 </div>
</div>

</section>


{% endif %}














       <section class="section-doctor">
            <div class="row js--wp-4">
                <h2>Appointments</h2>
            
            </div>


            <div class="row"></div>
{% for appointment in appointments %}
             
                <div class="col span-1-of-3 box doctor reports js--wp-1-2-0">
             <!-- feedback{{forloop.counter0}}">-->
                    <!--<img src="{{media_url}}{{ forloop.counter.image }}" alt="lisbon">-->
               
                    <h3 class="">Appointment ID: {{appointment.id}} </h3> 
                
                    <div class="city-feature">              <i class="material-icons icon-small">
assignment_late </i>
                          
                       {{appointment.date}}
                    </div>

    <div class="city-feature">
                          <i class="material-icons icon-small">schedule</i>

                    {{appointment.time}}
                    </div>
                   



<div class="city-feature">
                            <i class="material-icons icon-small">assignment</i>
<strong>Disease:</strong>
                    {{appointment.disease_option}}
                  </div>
                    <div>         
                    <form action="{% url 'appointment_delete' appointment.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>       

         </div>

                </div>

{% endfor %}

<div class="row">
</div>
</section>
{% endblock %}











{% if message %}
{{message}}
{% endif %}
{% for appointment in appointments %}
<div class="">
  <p class="">Appointment number {{appointment.id}}</p>
  <div class="">

<p>{{appointment.date}}</p>
<p>{{appointment.time}}</p>
<p>{{appointment.disease_option}}</p>
</div>

<div class="">
<form action="{% url 'appointment_delete' appointment.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
</div>
{% endfor %}
  </body>
</html>
