{% extends "base_.html" %}
{% load static %}
            {% block content %} 

    {% block body %}

   {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      
      <ul>
        {% if user.is_authenticated %}
      
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
      
        {% endif %}
      </ul>
    </div>
    {% endblock %}
{% endblock %}