{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Omnifood is a premium food delivery service with the mission to bring affordible and healthy meals to as many people as possible">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/normalize.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/ionicons.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'resources/css/queries.css'%}">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet">
        <link href="{% static 'vendors/css/animate.css' %}" rel="stylesheet" type="text/css">
        <title>Patientio</title>
        
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/resources/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/resources/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/resources/favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static '/resources/favicons/site.webmanifest'%}">
        <link rel="mask-icon" href="{% static '/resources/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static '/resources/favicons/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{% static '/resources/favicons/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">
        
    </head>
    <body>
        <!--works as a div-->
       <header>
            <nav>
                      <div class="row">
                  <!--  <img src="{% static 'resources/img/ISSB_logo_main.png' %}" alt="ISSB main logo" class="logo">
                      <img src="{% static 'resources/img/ISSB_logo_main.png' %}" alt="ISSB main logo" class="logo-format">                  
                    -->
                      <ul class="main-nav js--main-nav">
                        <li>
                            <a href="#features">Home</a>
                        </li>
                          <li>
                            <a href="ineligibility.html">Appointments</a>
                        </li>
                          <li>
                            <a href="system.html">Departments</a>
                        </li>
                 <!--       <li>
                            <a href="general.html">About us</a>
                        </li>-->
                         <li>
                            <a href="guidlines.html">Contact us</a>
                        </li>                       
                          <li>
                            <a href="aboutus.html">About us</a>
                        </li>
                        <li>
                            <a href="faqs.html">FAQs</a>
                        </li> 
                    </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                
                </div>
            
            
            
            </nav>
                     <section>
                        <div class="row">
            <div class="cd-intro col span-2-of-2">
            <div class="hero-text-box  cd-intro-content mask-2">
                <div class="content-wrapper">
                    <div>
                    
                
                    <h1>Patientio <br></h1>
                   <p> Your Health Becomes Priority.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt dictum augue ut aliquet. Nunc id dui turpis. Nam accumsan in dui et dictum.   <br> </p>
                   
                   
                    <div class="action-wrapper">
                <a class="btn btn-full js--scroll-to-plans letterbtn" href="https://77.75.123.181/issb/query/call-letter.php" target="_blank">learn More </a>
           
                 <a class="btn btn-ghost btn2 js--scroll-to-start contactbtn" href="contact.html">Contact</a>  
                        
                    </div>
                    
            </div>
                </div>
            </div>
                         </div>
                            
                    <div class="col span-1-of-2 box sidebar1">          
                         <h4 >
                Account Login</h4>
                           <form  method="post" action="#">
                                      
                        
                            <label for="username"><h5>username</h5></label>
                        
                    
                            <input type="text" name="username" id="username" placeholder="" required>
                            
                               <label for="password"><h5>Password</h5></label>
                               
                               <input type="text" name="password" id="password" placeholder="" required>                           
                     
                   
                    
                           
                        
                           </form>
                        
                                <a class="btn btn-full js--scroll-to-plans letterbtn" href="faqs.html" target="_blank">Log In </a>
     
                        
                
                </div> 
                
                     
                            
                            
                            
                            
                            
                            </div> 
                </section>
        </header>
        
        <section class= "section-declare js--section-declare">
            
            
            
            </section>
              <section class="section-best">
            
            <div class="best box">
                <h2 class="js--wp-4">What makes us best?</h2>
                <div class="row">
                    <div class="col span-1-of-7 box js--wp-a1">
                      <h3>  <i class="material-icons icon-small">face</i>
                    Qualified Doctors</h3>
                        <p>
                            Aliquam risus lacus, rhoncus nec scelerisque a, cursus id neque. Curabitur mattis mauris sed leo venenatis, a dictum nibh sollicitudin. Sed malesuada bibendum lobortis. Nam eget nunc vitae felis accumsan cursus 
                        </p>
                    </div>
                    <div class="col span-1-of-7 box js--wp-a2">
                      <h3>  <i class="material-icons icon-small">library_books</i>
                    Online Appointments</h3>
                    <p>
                        Aliquam risus lacus, rhoncus nec scelerisque a, cursus id neque. Curabitur mattis mauris sed leo venenatis, a dictum nibh sollicitudin. Sed malesuada bibendum lobortis
                        </p>
                    </div>
        
                
                </div>
                
                    <div class="row">
                    <div class="col span-1-of-7 box js--wp-a3">
                       <h3> <i class="material-icons icon-small">card_membership</i>
                    Free Consultation</h3>
                    <p>
                        Aliquam risus lacus, rhoncus nec scelerisque a, cursus id neque. Curabitur mattis mauris sed leo venenatis, a dictum nibh sollicitudin. Sed malesuada bibendum lobortis. Nam eget nunc vitae felis accumsan cursus congue eu justo. Proin nibh 
                        </p>
                    </div>
                    <div class="col span-1-of-7 box js--wp-a4">
                       <h3> <i class="material-icons icon-small">present_to_all</i>
                    Modern Facilities</h3>
                        <p>Aliquam risus lacus, rhoncus nec scelerisque a, cursus id neque. Curabitur mattis mauris sed leo venenatis, a dictum nibh sollicitudin. Sed malesuada bibendum lobortis. Nam eget nunc vitae felis 
                        </p>
                    
                    </div>
        
                
                </div>
            
            
            </div>
        
        
        
        
        
        
        </section>
        
              
        <section class="section-testimonials">
            <div class="row">
                <h2>Your Health is Our Priority</h2>
            
            </div>
            
            <div class="row">
            <div class="col span-1-of-3">
                <blockquote>
                    Aliquam risus lacus, rhoncus nec scelerisque a, cursus id neque. Curabitur mattis mauris sed leo venenatis, a dictum nibh sollicitudin.
                    
                    <cite>
                        <img src="{% static 'resources/img/customer-1.jpg' %}" alt="customer 1"> Alberto Duncan
                     </cite>
                </blockquote>
             </div>
            
             <div class="col span-1-of-3">
                <blockquote>
                  Aliquam risus lacus, rhoncus nec scelerisque a, cursus id neque. Curabitur mattis mauris sed leo venenatis, a dictum nibh sollicitudin.
                    
                    <cite>
                        <img src="{% static 'resources/img/customer-2.jpg' %}" alt="customer 2"> Joana Silva
                     </cite>
                </blockquote>
             </div>
            
             <div class="col span-1-of-3">
                <blockquote>
                 Aliquam risus lacus, rhoncus nec scelerisque a, cursus id neque. Curabitur mattis mauris sed leo venenatis, a dictum nibh sollicitudin.
                    <cite>
                        <img src="{% static 'resources/img/customer-3.jpg' %}" alt="customer 3"> Milton Chapman
                     </cite>
                </blockquote>
             </div>   
                
                
         </div>
        </section>
        
        
        <!-- ionicons -->
        
        
        
        <section class="section-features js--section-features" id="features">
            <div class="row">
                
                
                <div class="col span-1-of-2 box sidebar"><h4 >
                News and Events</h4>

                 <h5>Attention:</h5><p>
                <marquee scrollamount="2" direction="up" loop="true" onmouseover="this.stop()" onmouseout="this.start()">
                    <div class="attention" align="center"><br />
                        Call have been Uploaded for 31st TCC, PCs/ASCs/NCs and 144 PMA L/C 
                 </div></marquee>
                <h5><!-- #BeginDate format:Sw1 --> Army Courses  <!-- #EndDate --></h5>
                <p> Calls have been updated for <br /> 31st TCC, PCs/ASCs/NCs and 144 PMA L/C  <br /> </p>
                                
                <h5>Contact Info:</h5>
                <p><span><strong> Kohat</strong>: 
                0922-9260085 <br />
                <strong>Gujranwala</strong>: 
                055-3830036 <br />
                <strong>Malir</strong>: 
                021-99247448</span></p>
                    
                
                </div> 
               <div class="col span-2-of-2 box">
                <h2>Welcome to ISSB</h2>
                
                <p class="long-copy">
                   Welcome to the official web site of Inter Services Selection Board commonly known as ISSB, representing ISSB Kohat and its detachments at Gujranwala, Malir and Quetta. ISSB is the premier human resource organisation which selects future leadership for the armed forces of Pakistan. ISSB acts as nursery for the Armed Forces of Pakistan.<br><br>

                    The candidates reporting at ISSB are subjected to an elaborate selection system and the ones with requisite leadership potentials are recommended to undergo training in the three services academies.

                </p>
                </div>   
                

            
            
            
            
            
            </div>
            
            <div class="row js--wp-1">
                <div class="col span-1-of-3 box">
                   <i class="material-icons icon-big">my_location</i> 
                    <h3>Our Mission</h3>
                    <p>Our Mission is to Select potential officers for the defence forces of Pakistan who have the requisite mental, moral, social and dynamic qualities to make successful leaders during peace and war. 
                    The above mission sets a very sacred and tough challenge for the oraganistaion which can only be met with true dedication, selfless devotion and unflinching resolve to set and meet the standards. Inter Services Selection Board follows a set of time tested protocols to analyse and predict human personality and along the way has earned a respectable name and fame to its credit</p>
                </div>
                
                <div class="col span-1-of-3 box">
                  <i class="material-icons icon-big">security</i> 
                    <h3>Security</h3>
                    <p>An elaborate security system is in place here at ISSB. Therefore, please be prepared to undergo such inspection/check on arrival. It will be convenient for candidates to bring least number of metallic items as possible. Your security is of paramount importance to us and your cooperation is highly valued.</p>
                
                
                </div>       
                
                <div class="col span-1-of-3 box">
                   <i class="material-icons icon-big">info_outline</i> 
                    <h3>Important Notice</h3>
                    <p>
                    Your call letters are issued minimum 20 days in advance to your test date, immediately after website is updated. You should be able to receive your call through Mail within a week time. If you do not get your call via Mail then take a print out from our website of the same page which shows your name and calling date and report for the tests on due date. 
                    </p>
                
                
                </div>        
                
      
            
            </div>
            
            
            
                     <div class="row tags">
                <div class="col span-1-of-3 box plan-box feedback">
                     <i class="material-icons icon-big">feedback</i>
                    <h3>Feedback</h3>
                    <p>We value your opinion and suggestions.If you have any suggestions, comments or ideas that you would like to share with us for improvement. We strive to make your stay as comfortable as possible to help you concentrate on your tests and help you give your best during your stay with us.</p>
                        <div>
                            <a href="#" class="btn btn-ghost">Form</a>
                        </div>
                </div>
                
                <div class="col span-1-of-3 box plan-box schedule">
                    <i class="material-icons icon-big">schedule</i>
                    <h3>Test Schedule</h3>
                    <p>Click the button below for tentative schedule of ISSB during 2nd half 2019 (Jul - Dec 2019 ). Please remember that this schedule may change to accomodate service requirements.</p>
                      <div>
                            <a href="#" class="btn btn-ghost">Schedule</a>
                        </div>
                
                
                </div>       
                
                <div class="col span-1-of-3 box plan-box centers">
                    <i class="material-icons icon-big">place</i>
                    <h3>Selection Centers</h3>
                    <p>
                     Click the button below for contact details of selection and recruitment centers of Army, Navy and Air Force
                    </p>
                        <div>
                            <a href="#" class="btn btn-ghost">Details</a>
                        </div>
                
                
                </div>        
                
      
            
            </div>
  
        </section>
            
    <!--  
        <section class="section-meals">
            <ul class="meals-showcase clearfix">
                <li>
                    <figure class="meal-photo">
                        <img src="resources/img/1.jpg" alt="Korean bibimbap with egg and vegetables">
                    </figure>
                </li>
                 <li>
                    <figure class="meal-photo">
                       <img
                            src="resources/img/2.jpg" alt="Simple italian pizza with cherry tomatoes">
                    </figure>
                </li>
                
                 <li>
                    <figure class="meal-photo">
                     <img
                            src="resources/img/3.jpg" alt="Chicken breast steak with vegetables">  
                    </figure>
                </li>
                
                 <li>
                    <figure class="meal-photo">
                          
                        <img
                            src="resources/img/4.jpg" alt="Autumn pumpkin soup ">  
                    </figure>
                </li>
                
             </ul>
                        
             <ul class="meals-showcase clearfix">
                <li>
                    <figure class="meal-photo">
                        <img
                            src="resources/img/5.jpg" alt="Paleo beef steak with vegetables"> 
                    </figure>
                </li>
                 <li>
                    <figure class="meal-photo">
                           <img
                            src="resources/img/6.jpg" alt="Healthy baguette with egg and vegetables">  
                    </figure>
                </li>
                
                 <li>
                    <figure class="meal-photo">
                     <img
                              
                            src="resources/img/7.jpg" alt="Burger with cheddar and bacon">  
                    </figure>
                </li>
                
                 <li>
                    <figure class="meal-photo">
                          
                        <img
                            src="resources/img/8.jpg" alt="Granola with cherries and strawberries">  
                        
                    </figure>
                </li>
                
             </ul>
            
             </section> -->
            
            
            
            <!--
        
        <section class="section-steps" id="steps">
            <div class="row">
                <h2>How it works &mdash; Simple as 1, 2, 3

                </h2>
            </div>
            <div class="row">
                <div class="col span-1-of-2 steps-box">
                    <img src="resources/img/app-iPhone.png" alt="omnifood app on iphone" class="app-screen js--wp-2">
                
                </div>
                <div class="col span-1-of-2 steps-box">
                    <div class="works-step">
                        <div>1</div>
                        <p>Choose the subscription plan that best fits your needs and sign up today.</p>
                    </div>
                    <div class="works-step">
                        <div>2</div>
                        <p>Order your delicious meal using our mobile app or website. Or you can even call us!</p>
                    </div>
                    <div class="works-step">
                        <div>3</div>
                        <p>Enjoy your meal after less than 20 minutes. See you the next time!</p>
                    </div>
                    
                    
                    <a href="#" class="btn-app"><img src="resources/img/download-app-android.png" alt="Appstore button"></a>
                    
                     <a href="#" class="btn-app"><img src="resources/img/download-app-android.png" alt="Appstore button"></a>
                    
                </div>
            
            </div>
        
        </section>
-->
            
            
            <!--
 <section class="section-form">
            <div class="row">
                <h2>We're happy to hear from you</h2>
            </div>
            <div class="row">
                <form method="post" action="#" class="contact-form">
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="name">Name</label>
                        
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="name" id="name" placeholder="Your name" required>
                        
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="email">Email</label>
                        
                        </div>
                        <div class="col span-2-of-3">
                            <input type="email" name="email" id="email" placeholder="Email" required>
                        
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="find-us">How did you find us?</label>
                        </div>
                        
                        <div class="col span-2-of-3">
                            <select name="find-us" id="find-us">
                                
                                <option value="friends" selected>Friends</option>
                                <option value="search" >Search engine</option>
                                <option value="ad">Advertisement</option>
                                <option value="other">Other</option>
                            
                            
                            
                            </select>
                        
                        </div>
                    </div>
                
                    
                     <div class="row">
                        <div class="col span-1-of-3">
                            <label>Newsletter?</label>
                        </div>
                        
                        <div class="col span-2-of-3">
                            <input type="checkbox" name="news" id="news" checked> Yes, please
                            
                            
                            </div>
                    </div>                   
                
                
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>Drop us a line</label>
                        </div>
                        
                        <div class="col span-2-of-3">
                            <textarea name="message" placeholder="Your message"></textarea>
                            
                            
                            </div>
                    </div>                
                
                    
                     <div class="row">
                        <div class="col span-1-of-3">
                            <label>&nbsp;</label>
                        </div>
                        
                        <div class="col span-2-of-3">
                            <input type="submit" value="Send it!">
                        </div>
                    </div>                      
                
                
                
                </form>
            
            </div>
        
        
        </section>
        
       
-->
        
        
        <section class="section-testimonials">
            <div class="row">
                <h2  class="white-heading">Useful Information</h2>
            
            </div>
            
            <div class="row">
            <div class="col span-1-of-3 info">
             
                    <h4>Download Applications:</h4> <br />
                    <a href="wdocs/duplicate.doc">Duplicate Letter</a><br/>
                    <a href="wdocs/call.letter.pdf">Call Letter Instructions</a><br/>
                    <a href="wdocs/recall.doc">Recall</a><br/>

      
                
             </div>
            
             <div class="col span-1-of-3 info">
           
                 <h4>Useful Links:</h4>
                 <br />
                    <a  href="http://www.paknavy.gov.pk"><span class= "navy">Pakistan Navy</span></a><br />
                    <a  href="http://www.joinpakarmy.gov.pk"><span class="army">Pakistan Army</span><br />
                    </a>    
                    <a href="http://www.paf.gov.pk"><span class="airforce" >Pakistan Air Force</span></a><br />
                    <a href="http://www.ispr.gov.pk">ISPR</a><br />
                    <a href="http://www.defence.pk">Pakistan Defence</a> <br />
                    <a href="http://www.cscquetta.com/">CSC Quetta</a><br />
                    <a href="http://www.sitquetta.com/">School of Infantry and Tactics</a>
                    
       
             </div>
            
             <div class="col span-1-of-3 info">
            
        
                              <h4>Primary Contact:</h4><br /><p>
                               <strong> Mailing Address:</strong><br />
                                 GSO-2 (Selection)<br />
                                 ISSB Kohat Cantt <br />
                       <strong>Telephone:</strong><br />
                                 0922- 9260085<br />
                       <strong>Email:</strong><br />
                 </p>
                        <a href="mailto:gso2@issb.com.pk">gso2@issb.com.pk</a> 
                  
               
             </div>   
                
                
         </div>
        </section>
            
            
            <!--
        
        <section class="section-plans" id="plans">
            <div class="row">
                <h2>Start eating healthy today</h2>
            
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <div class="plan-box js--wp-4">
                        
                        <div><h3>Premium</h3>
                            <p class="plan-price">$399 <span>/ month</span></p>
                            <p class="plan-price-meal">That’s only 13.30$ per meal</p>
                        </div>
                        
                        <div>
                            <ul>
                                <li>
                                    <i class="ion-ios-checkmark-empty icon-small"></i>1 meal every day
                                </li>                                <li>
                                    <i class="ion-ios-checkmark-empty icon-small"></i>Order 24/7
                                </li>                                <li>
                                    <i class="ion-ios-checkmark-empty icon-small"></i>Access to newest creations
                                </li>                                <li>
                                    <i class="ion-ios-checkmark-empty icon-small"></i>Free delivery
                                </li>
                            </ul>
                        </div>
                        <div>
                            <a href="#" class="btn btn-full">Sign up now</a>
                        </div>
                        
                    </div>
                </div>
            
                
                <div class="col span-1-of-3">
                    <div class="plan-box">
                        
                        <div><h3>Pro</h3>
                            <p class="plan-price">149$ <span>/ month</span></p>
                            <p class="plan-price-meal">That’s only 14.90$ per meal</p>
                        </div>
                        
                        <div>
                            <ul>
                                <li>
                                    <i class="ion-ios-checkmark-empty icon-small"></i>1 meal 10 days/month
                                </li>                                <li>
                                    <i class="ion-ios-checkmark-empty icon-small"></i>Order 24/7
                                </li>                                <li>
                                    <i class="ion-ios-checkmark-empty icon-small"></i>Access to newest creations
                                </li>                                <li>
                                    <i class="ion-ios-checkmark-empty icon-small"></i>Free delivery
                                </li>
                            </ul>
                        </div>
                        <div>
                            <a href="#" class="btn btn-ghost">Sign up now</a>
                        </div>
                        
                    </div>
                </div>            
            
            
            
                 <div class="col span-1-of-3">
                    <div class="plan-box">
                        
                        <div><h3>Starter</h3>
                            <p class="plan-price">19$ <span>/ meal</span></p>
                            <p class="plan-price-meal">&nbsp;</p>
                        </div>
                        
                        <div>
                            <ul>
                                <li>
                                    <i class="ion-ios-checkmark-empty icon-small"></i>1 meal
                                </li>
                                <li>
                                    <i class="ion-ios-checkmark-empty icon-small"></i>Order from 8 am to 12 pm
                                </li> 
                                 <li>
                                    <i class="ion-ios-close-empty icon-small"></i>
                                </li> 
                                <li>
                                    <i class="ion-ios-checkmark-empty icon-small"></i>Free delivery
                                </li>
                            </ul>
                        </div>
                        <div>
                            <a href="#" class="btn btn-ghost">Sign up now</a>
                        </div>
                        
                    </div>
                </div>            
                   </div>
        </section>
        -->
         <section class="section-cities" id="cities">
            <div class="row">
                <h2>Currently in these cities</h2>
            
            </div>
            <div class="row js--wp-3">
                
                <div class="col span-1-of-4 box photos">
                    <div class="container">
                        <figure class="photo">
                    <img src="resources/img/kohat_small.jpg" alt="Kohat"></figure>
                        <div class="text-block">
                    <h3>Kohat</h3></div>
                         </div>
        <!--            <div class="city-feature">
                          <i class="ion-ios-person icon-small"></i>
                        1600+ happy eaters
                    </div>
                    <div class="city-feature">
                          <i class="ion-ios-star icon-small"></i>
                        60+ top chefs
                    </div>
                    <div class="city-feature">
                          <i class="ion-social-twitter icon-small"></i>
                       <a href="#">@omnifood_lx</a> 
                    </div>-->
                </div>
                
                <div class="col span-1-of-4 box photos">
                    <div class="container">
                    <figure class="photo">
                        <img src="{% static 'resources/img/gwa_small.jpg' %}" alt="gujranwala"></figure>
                         <div class="text-block">
                    <h3>Gujranwala</h3></div>
                         </div>
               <!--     <div class="city-feature">
                          <i class="ion-ios-person icon-small"></i>
                        3700+ happy eaters
                    </div>
                    <div class="city-feature">
                          <i class="ion-ios-star icon-small"></i>
                        160+ top chefs
                    </div>
                    <div class="city-feature">
                          <i class="ion-social-twitter icon-small"></i>
                       <a href="#">@omnifood_sf</a>
                    </div>-->
                 </div>
                
                 <div class="col span-1-of-4 box photos">
                     <div class="container">
                     <figure class="photo">
                    <img src="{% static 'resources/img/malir_small.jpg' %}" alt="malir">
                     </figure>
                         <div class="text-block">
                    <h3>Malir</h3></div>
                         </div>
                  <!--  <div class="city-feature">
                          <i class="ion-ios-person icon-small"></i>
                        2300+ happy eaters
                    </div>
                    <div class="city-feature">
                          <i class="ion-ios-star icon-small"></i>
                        110+ top chefs
                    </div>
                    <div class="city-feature">
                          <i class="ion-social-twitter icon-small"></i>
                       <a href="#" >@omnifood_berlin</a>
                    </div>-->
                 </div> 
                
                  <div class="col span-1-of-4 box photos">
                      <div class="container">
                      <figure class="photo">
                          <img src="resources/img/quetta_small.jpg" alt="quetta"></figure>
                         <div class="text-block">
                    <h3>Quetta</h3></div>
                         </div>
         <!--           <div class="city-feature">
                          <i class="ion-ios-person icon-small"></i>
                        1200+ happy eaters
                    </div>
                    <div class="city-feature">
                          <i class="ion-ios-star icon-small"></i>50+ top chefs                    </div>
                    <div class="city-feature">
                          <i class="ion-social-twitter icon-small"></i>
                        <a href="#">@omnifood_london</a>
                    </div>-->
                 </div>                
                
                
            
            </div>
        
        </section>
        
       
        
        <footer>
            
            <div class="row">
                <p>
                    Copyright &copy; 2018 Inter Services Selection Board
                
                </p>
            
            </div>
        
        </footer>
<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/Gruntfile.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/Gruntfile.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/Gruntfile.min.js"></script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<script src="{% static 'vendors/js/jquery.waypoints.min.js' %}"></script>
<script  src="{% static 'resources/js/scripts.js' %}"></script>         
        
    </body>
</html>


<!--
        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="#">About us</a></li>                        <li><a href="#">Blog</a></li>                        <li><a href="#">Press</a></li>                        <li><a href="#">iOS App</a></li>                        <li><a href="#">Android App</a></li>
                    </ul>
                </div>
                
                <div class="col span-1-of-2">
                    <ul class="social-icons">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>                        <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                    
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <p>
                    Copyright &copy; 2015 by Omnifood. All rights reserved.
                
                </p>
            
            </div>
        
        </footer>






--!>