                       <nav>
                      <div class="row">
            
                      <ul class="main-nav js--main-nav">
                        <li>
                            <a href="#features">Home</a>
                        </li>
                          <li>
                            <a href="ineligibility.html">Appointments</a>
                        </li>
                          <li>
                            <a href="system.html">Departments</a>
                        </li>
                 <!--       <li>
                            <a href="general.html">About us</a>
                        </li>-->
                         <li>
                            <a href="guidlines.html">Contact us</a>
                        </li>                       
                          <li>
                            <a href="aboutus.html">About us</a>
                        </li>
                        <li>
                            <a href="faqs.html">FAQs</a>
                        </li> 

                                           </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                
                </div>
            
            
            
            </nav>