                       <nav>
                      <div class="row">
            
                      <ul class="main-nav js--main-nav">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                          <li>
                            <a href="{% url 'appointments_list' %}">Appointments</a>
                        </li>
                     
          
                 <!--       <li>
                            <a href="general.html">About us</a>
                        </li>-->
                    


                        <li><a href="{% url 'doctor_list' %}">Doctors</a></li>

                        <li><a href="{% url 'services' %}">Departments</a></li>
                       <li><a href="{% url 'lab_reports' %}">Lab Reports</a></li>                     
                
                     <!--    <li><a href="{% url 'about_us' %}">About Us</a></li>-->
                {% if request.user.is_authenticated %}   
                <a class ="btn btn-ghost btnlogin1 btn2" href="{% url 'profile' %}"><span>{{request.user}}</span></a>
                {% else %}
<a class ="btn btn-full btnlogin" href="{% url 'profile' %}"><span>Log In</span></a>
{% endif %}
                                           </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                
                </div>
            
            
            
            </nav>