                       <nav>
                      <div class="row">
            
                      <ul class="main-nav js--main-nav">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                          <li>
                            <a href="{% url 'appointments_list' %}">Appointments</a>
                        </li>
                     
          
                 <!--       <li>
                            <a href="general.html">About us</a>
                        </li>-->
                    


                        <li><a href="{% url 'doctor_list' %}">Doctors</a></li>

                        <li><a href="{% url 'services' %}">Departments</a></li>
           <li>
                            <a href="{% url 'contactus' %}">Contact us</a>
                        </li>                       
                
                         <li><a href="{% url 'about_us' %}">About Us</a></li>
                   

                                           </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                
                </div>
            
            
            
            </nav>