{% extends "base.html" %}

{% block content %}

        
        

        
<section class="section-schedule js--section-features" id="features">
            <div class="row">
                
                
                
               
                <h2 class="guidelines">TENTATIVE SCHEDULE FOR ISSB TESTS</h2>
                <div class="col box ">
                <p class="long-copy">
                  <span> Will you be available for the tests?</span><br> Please inform us about your examination schedule for other institutions immediately after you receive such information so that we can make necessary adjustments for your call to ISSB. Our tentative schedule for various batches is as below.
                </p>
                </div>   
                

            
            
            
            
            
            </div>
   
        <div class="row js--wp-3">
            
               <div class="col span-1-of-3">
        <h4>Navy</h4>
                                        <div class="container2">

                                          <ul class="responsive-table">
                                            <li class="table-header">
                                              <div class="coll coll-1">Course</div>
                                              <div class="coll coll-2">Duration</div>
                                     
                                            </li>
                                            <li class="table-row">
                                              <div class="coll coll-1"><span>Course</span>	VMS and LCC-15</div>
                                              <div class="coll coll-2"><span>Duration</span>26-29 AUG and 15-18 OCT 2019
</div>
                            
                                            </li>
                              <li class="table-row">
                                              <div class="coll coll-1"><span>Course</span>PN COURSES</div>
                                              <div class="coll coll-2"><span>Duration</span>08 OCT-10 NOV 2019

</div>
                            
                                            </li>
        
                                    <!--        <li class="table-row">
                                              <div class="coll coll-1"><span>Job Id</span>42311</div>
                                              <div class="coll coll-2" data-label="Customer Name">John Carpenter</div>
                                              <div class="coll coll-3" data-label="Amount">$115</div>
                                              <div class="coll coll-4" data-label="Payment Status">Pending</div>
                                            </li>-->
                                          </ul>
                                        </div>
        
        </div>
            
               <div class="col span-1-of-3">
        <h4>Army</h4>
                                        <div class="container2">

                                          <ul class="responsive-table">
                                            <li class="table-header">
                                              <div class="coll coll-1">Course</div>
                                              <div class="coll coll-2">Duration</div>
                                        <!--      <div class="coll coll-3">Amount Due</div>
                                              <div class="coll coll-4">Payment Status</div>-->
                                            </li>
                                            <li class="table-row">
                                              <div class="coll coll-1"><span>Course</span>TCC-31 and PCs/ASCs/NCs as TCs</div>
                                              <div class="coll coll-2"><span>Duration</span>4-23 JUL 2019
</div>
                            
                                            </li>
                              <li class="table-row">
                                              <div class="coll coll-1"><span>Course</span>144 PMA L/C</div>
                                              <div class="coll coll-2"><span>Duration</span>20 JUL-12 OCT 2019
</div>
                            
                                            </li>
                                   <li class="table-row">
                                              <div class="coll coll-1"><span>Course</span>DSSC (ICTOs)</div>
                                              <div class="coll coll-2"><span>Duration</span>31 AUG-8 SEP 2019
</div>
                            
                                            </li>
                               
                                          </ul>
                                        </div>
        
        </div>
            
            
            
            
            
        <div class="col span-1-of-3">
            <h4>Airforce</h4>
        
                                        <div class="container2">

                                          <ul class="responsive-table">
                                            <li class="table-header">
                                              <div class="coll coll-1">Course</div>
                                              <div class="coll coll-2">Duration</div>
                                        <!--      <div class="coll coll-3">Amount Due</div>
                                              <div class="coll coll-4">Payment Status</div>-->
                                            </li>
                                            <li class="table-row">
                                              <div class="coll coll-1"><span>Course</span>		
PAF COURSES</div>
                                              <div class="coll coll-2"><span>Duration</span>28 Oct - 13 DEC 2019

</div>
                            
                                            </li>
                              
                                          </ul>
                                        </div>
        
        </div>
            
            
            
            
            
        </div>
    <div class="row dec">
        This schedule may be delayed if application form will not be received in time from concerned service Headquarters
    
    
    </div>
    <div class="box row">
              <p class="long-copy">
                  <span>It is not mandatory for ISSB to re-call the candidates:</span><br> If due to any genuine reason, you can not report for the tests then
write an application (explaining your reason) along with a proof of your absence e.g. copy of examination schedule etc and send it to GSO-2 (Selection), ISSB Kohat Cantt by post (registered mail or TCS) . <br> We will try and adjust your ISSB tests accordingly.
                </p>
     </div>   
            </section>
        
        {% endblock %}