<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Our Services</title>
  </head>
  <body>
    <div class="">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about_us' %}">About Us</a></li>
      <li><a href="{% url 'appointments_list' %}">Appointments</a></li>
      <li><a href="{% url 'lab_reports' %}">Lab Reports</a></li>
      <li><a href="{% url 'doctor_list' %}">Doctors</a></li>
      <li><a href="{% url 'patient_info' %}">My Profile</a></li>
      <li><a href="{% url 'services' %}">Services</a></li>
    </ul>
  </div>
<!-- blog card -->
{% for service in service %}
<div class="">
<div class="">
<div class="">
  <div class="">
    <img src="" alt="Service Image">
    <span class="">{{service.service_title}}</span>
    <p>{{service.service_summary}}</p>
  </div>
  <div class="">
    <p>{{service.text}}</p>
  </div>
  <div class="card-action">
<a href="{% url 'service_detail' service.id %}">Read More</a>
</div>
</div>
</div>
</div>
{% endfor %}
  </body>
</html>
