{% extends "base.html" %}
{% load static %}
 {% block content %}
       <header class="header-doc">
              
                                      {% include 'navbar.html' %}
              
                        <div class="row main-row">
            <div class="cd-intro col span-2-of-2">
            <div class="hero-text-box  cd-intro-content mask-2">
                <div class="content-wrapper">
                    <div>
                    
                
                    <h1>Our Departments ready to serve  <br></h1>
                   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt dictum  <br> </p>
                   
                   
                    <div class="action-wrapper">
                <a class="btn btn-full js--scroll-to-plans letterbtn" href="{% url 'about_us' %}" target="_blank">Learn More </a>
           
                 <a class="btn btn-ghost btn2 js--scroll-to-start contactbtn" href="{% url 'contactus' %}">Contact</a>  
                        
                    </div>
                    
                   </div>
              </div>
            </div>
            </div>    
                       </div> 
              
              
        </header>

{% for service in service %}
<div class="">
<div class="">
<div class="">
  <div class="">
    <img src="" alt="Service Image">
    <span class="">{{service.service_title}}</span>
    <p>{{service.service_summary}}</p>
  </div>
  <div class="">
    <p>{{service.text}}</p>
  </div>
  <div class="card-action">
<a href="{% url 'service_detail' service.id %}">Read More</a>
</div>
</div>
</div>
</div>
{% endfor %}


{% endblock %}