<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Report Detail</title>
  </head>
  <body>
    <div class="">
      <div class="">
        
        <h2>{{report.test_name}}</h2>
        <h5>{{report.investigations}}</h5>
        <p>{{report.result_summary}}</p>
        <h5>{{report.lab_doctor.first_name}} {{report.lab_doctor.last_name}}</h5>
        <h5>{{report.doctor.first_name}} {{report.doctor.last_name}}</h5>
        <h5>{{report.date}}</h5>
       <form action="{% url 'lab_report_delete' report.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>

    </div>
  </div>
  </body>
</html>
